{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
<link href="{% static 'core/css/forms.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container mt-4"> 
    <h1 class="mb-4">Administrar Productos</h1>

    {% if form %}
    <form method="POST" action="" enctype="multipart/form-data" id="formulario"
        class="mb-5 p-4 border rounded shadow-sm">
        <div class="form-group mb-3">
            {% csrf_token %}


            {{ form.as_ul }}

            {% if action == 'upd' %}
            <script>
                $(document).ready(function () {
                    $('#id_patente').attr('readonly', true);
                });
            </script>
            {% endif %}
        </div>

        <div class="d-grid gap-2 d-md-block"> 

            <input type="submit" class="btn btn-primary btnwidth me-2" id="id_guardar" value="Guardar"> 
 
            <a class="btn btn-success btnwidth me-2" href="{% url 'administrar_productos' 'ins' -1 %}">Nuevo</a>
            {% if id != '-1' %}
            <a class="btn btn-danger btnwidth me-2" href="{% url 'administrar_productos' 'del' id %}">Eliminar</a>
            {% endif %}
            <a class="btn btn-info btnwidth" href="{% url 'home' %}">Inicio</a>
        </div>

        {% if mesg %}
        <div id="form_message" class="alert alert-danger mt-3" role="alert">{{ mesg }}</div> 
        {% endif %}
    </form>
    {% endif %}

    {% if list %}
    <div class="table-responsive"> 
        <table id="tabla_datos" class="table table-striped table-hover table-bordered">
            
            <thead class="table-dark"> 
                <tr>
                    <th>ID Prod</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                    <th class="titulo_boton">Editar</th>
                    <th class="titulo_boton">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in list %}
                <tr>
                    <td>{{ producto.idprod }}</td>
                    <td>{{ producto.nomprod }}</td>
                    <td>{{ producto.descprod }}</td>
                    <td>{{ producto.precio }}</td>
                    <td><img src="/media/{{ producto.imagen }}" class="mini_auto img-thumbnail" alt=""></td> 
                    <td><a href="{% url 'administrar_productos' 'upd' producto.idprod %}"
                            class="btn btn-primary btn-sm boton_chico">Editar</a></td>
                    <td><a href="{% url 'administrar_productos' 'del' producto.idprod %}"
                            class="btn btn-danger btn-sm boton_chico">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> 
    {% endif %}

    <br>
    <div class="d-grid gap-2 d-md-block mt-4"> 
        <a href="http://127.0.0.1:8000/admin" class="btn btn-info btn-sm me-2">Administración</a>
        <a href="{% url 'home' %}" class="btn btn-info btn-sm">Home page</a>
    </div>
</div> 
{% endblock content %}